# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Ignore les fichiers système Windows
AppData/
npm-cache/
*.tmp
*.log
.vscode/
AppData/Local/BraveSoftware/
AppData/Local/Google/
AppData/Roaming/
AppData/Local/Temp/
AppData/Local/BraveSoftware/Brave-Browser/
AppData/Local/Google/Chrome/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Browser cache files
Cache/
Cache_Data/
Code Cache/
IndexedDB/
Local Extension Settings/
History/
# Brave / Chrome
AppData/
*.tmp
*.log
*.ldb

# OS
.DS_Store
Thumbs.db
